@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
--Soft-blue: hsl(215, 51%, 70%);
--Cyan: hsl(178, 100%, 50%);
--Very-dark-blue: hsl(217, 54%, 11%); 
--Very-dark-blue-2: hsl(216, 50%, 16%);   
--Very-dark-blue-3: hsl(215, 32%, 27%);   
--White: hsl(0, 0%, 100%);
--Font-size: 18px;
--Font-family: 'Outfit', sans-serif;
}
